.main-component {
    margin-left: 16.5625rem; // Par défaut, quand sidebar ouverte
    transition: margin-left 0.3s ease-in-out;
}

.main-component.collapsed {
    margin-left: 5rem; // Quand la sidebar est réduite
}