<div class="services-container">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-between">
        <div>
          <h2>Nos services :</h2>
        </div>
        <div>
          <input type="search" placeholder="Rechercher" [(ngModel)]="this.searchTerm" (ngModelChange)="this.search()">
        </div>
      </div>
    <hr/>
    </div>
    <div class="row">
      <div class="col-4" *ngFor="let service of services">
        <div class="card">
          <div class="card-header">
            <!-- <h5 class="card-title">
            </h5> -->
            <label>
              {{ service.name }}
              <input
                type="radio"
                (click)="toggleSelection(service)"
                [checked]="isRadioSelected(service)"
                style="appearance: radio;"
              />
            </label>
          </div>
          <div class="card-body">
            <div class="card-overlay">
              <button class="card-btn">Prendre RDV</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
