<div class="container">
  
  <h2>Ajout de pièce</h2>
  <div class="mt-4">
      <div class="form-group">
        <label for="piecename">Nom:</label>
        <input id="piecename" type="text" [(ngModel)]="newPiece.name" placeholder="Nom de la pièce" class="input-field"/>
      </div>
      <div class="form-group">
        <label for="pieceprice">Prix:</label>
        <input id="pieceprice" type="number" [(ngModel)]="newPiece.price" placeholder="Prix (Ar)" class="input-field"/>
      </div>
      <div class="form-group">
        <label for="pieceref">Référence:</label>
        <input id="pieceref" type="text" [(ngModel)]="newPiece.ref" placeholder="Référence" class="input-field"/>
      </div>
      <button [disabled]="!isFormValid()" type="button" class="btn btn-primary mb-2" (click)="this.addPiece()">
        Ajouter
      </button>
  </div>
 
  
  <hr>
    <h2>Recherche de Pièces</h2>
  <div class="mt-4">
    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="this.searchPiece()" placeholder="Rechercher une pièce..." class="search-input"/>
    <table class="piece-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prix (Ar)</th>
          <th>Référence</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let piece of pieces">
          <td>{{ piece.name }}</td>
          <td>{{ piece.price }}</td>
          <td>{{ piece.ref }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  <!-- Fenêtre modale -->
<div class="modal-overlay" *ngIf="showModal">
    <div class="modal">
      <h3>Ajouter une nouvelle pièce</h3>
      
      <input type="text" [(ngModel)]="newPiece.name" placeholder="Nom de la pièce" class="input-field"/>
      <input type="number" [(ngModel)]="newPiece.price" placeholder="Prix (€)" class="input-field"/>
      <input type="text" [(ngModel)]="newPiece.ref" placeholder="Référence" class="input-field"/>
  
      <div class="modal-buttons">
        <button (click)="addPiece()" class="btn-save">Ajouter</button>
        <button (click)="closeModal()" class="btn-cancel">Annuler</button>
      </div>
    </div>
  </div>

  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title h5" id="staticBackdropLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Close"><span class="visually-hidden">Close</span></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Understood</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  