.card {
    min-height: 80vh;
    // border-radius: 0 0 8px 8px;
}

.nav-link {
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-link:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.05) !important;
}