<header>
    <div class="top-header">
        <div class="d-flex justify-content-end" >
            <div class="p-2">
                <span><a href="/login/client">Se déconnecter</a></span>
            </div>
        </div>
    </div>
    <div class="separator"></div>
</header>
<div class="navigation pb-2">
    <nav class="navbar navbar-expand-lg supra" aria-label="Supra-navigation - Only left navbar example">
        <div class="container">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Accueil</a></li>
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Nos services</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Nos voitures</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Promotion</a></li>
            </ul>
            <div class="">
                <li></li>
            </div>
        </div>

    </nav>
</div>
<div>

</div>
<app-service-list></app-service-list>
<app-footer></app-footer>