.navbar-nav .nav-link {
    text-transform: uppercase; /* Met le texte en majuscule */
    font-size: 1.2rem; /* Augmente la taille du texte, tu peux ajuster la valeur */
  }

  header {
    background-color: rgb(1,2,39);
    color: white;
  }
  
  .top-header {
    padding: 10px;
  }
  
  .opening-hours,
  .contact-info,
  .location-info {
    margin-right: 15px;
  }
  
  .appointment-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .separator {
    height: 1px;
    background-color: #e0e0e0;
    margin: 5px 0;
  }
  
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  input[type="search"] {
    padding: 5px;
    font-size: 16px;
  }
  
  .icon-chevron-down {
    font-size: 12px;
    margin-left: 5px;
  }
