/* You can add global styles to this file, and also import other style files */


/* Global Styles */
 :root {
  --primary-color: #ff6600;
  --secondary-color: #333;
  --light-gray: #f9f9f9;
  --white: #fff;
  --text-color: #666;
  --font-family: 'Arial', sans-serif;
  --font-size-base: 16px;
}

html, body {
  height: 100%;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
